/** Color Palette from Coolors
--------------------
#134074 - Indigo Dye
#13315c - Prussian Blue
#0b2545 - Oxford Blue
#040404 - Rich Black
#8da9c4 - Cadet Grey
#eef4ed - Mint Cream

**/

body {
    background-color: #040404;
    margin: 0 auto;
    color: white;
    text-align: center;
    color: white;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
}

ul {
    padding: 0;
    list-style-type: square;
    list-style-position: inside;
}

#intro {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
    margin: 0 0 0 0;
    
    
}

/** Colored Boxes **/
.info {
    display: flex;
    justify-content: center;
}

.info-box {
    display: inherit;
    height: 80vh; 
    width: 24%; 
    float: left; 
    margin: 0 0 0 0;
    position: relative; 
    -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    transition-duration:0.5s;
}

/** Center inner circle **/
.center {
    justify-content: center;
    align-items: center;
}

.expand {
    width: 40%;
    height: 85vh;
}
.shrink {
    width: 20%;
}

/** Emulating the same effect as the boxes **/

.info-circle {
    display: inherit;
    flex-direction: column;
    position: relative;
    width: 25%;
    height: 15%;
    background-color: #040404;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    transition-duration:0.5s;
    
}

.cir-expand {
    width: 80%;
    height: 80%;
}

.cir-shrink {
    width: 10%;
    height: 10%;
}

/** Text manipulation inside of circles **/

/** Div surrounding titles for positioning **/
.info-title {
    display: inherit;
    position: relative;
    margin-bottom: 0;
    -webkit-transition-duration:0.5;
    -moz-transition-duration:0.5;
    transition-duration:0.5s;
}

/** Text Sizing for Titles **/
.title-size {
    font-size: 90%;
}

/** Animations for text movement **/
.title-move {
    margin-bottom: 80%;
    font-size: 2rem;
}

/** Descriptions inside circles **/
.info-content { 
    opacity: 0;
    display: none;
    position: absolute;
    top: 20%;
    left: 10%;
    text-align: left;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 150%;
    overflow-x: auto;
}

th {
    text-align: center;
}

td {
    padding-left: 5px;
}
.display-content {
    display: flex;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#trixie-pic {
    display: flex;
    position: absolute;
    width: 7vw;
    height: 15vh;
    left: 2.5%;
    top: 5px;
}

.click-me {
    display: flex;
    position: absolute;
    left: 2.5%;
    top: 65px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.click-animate {
    animation-name: alert;
    animation-iteration-count: 1;
    animation-duration: 0.10s;
}

@keyframes alert {
    from {
        color: white;
    }
    to {
        color: maroon;
    }
}


.trixie-animate {
    animation-name: rollOut;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-fill-mode: forward;
}

@keyframes rollOut {
    from {
        left: 2.5%;
        transform: rotate(0);
    }
    to {
        left: 90%;
        transform: rotate(1080deg);
    }
}