/** Color Palette from Coolors
--------------------
#134074 - Indigo Dye
#13315c - Prussian Blue
#0b2545 - Oxford Blue
#040404 - Rich Black
#8da9c4 - Cadet Grey
#eef4ed - Mint Cream

**/

body {
    background-color: #040404;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    color: white;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
}

li {
    padding-bottom: 10px;
}

h1 {
    font-weight: 700;
    font-style: italic;
}

#intro {
    position: relative;
    height: 15vh;
    width: 100vw;  
}

.welcome {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 100%;
    font-size: 1.2rem;
}

/** Colored Boxes **/
.info {
    display: flex;
    justify-content: center;
}

.info-box {
    display: flex;
    height: 80vh; 
    width: 24%; 
    float: left; 
    margin: 0 0 0 0;
    position: relative; 
    -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    transition-duration:0.5s;
}

/** Center inner circle within box, not content**/
.center {
    justify-content: center;
    align-items: center;
}

.expand {
    width: 40%;
    height: 85vh;
}
.shrink {
    width: 20%;
}

/** Emulating the same effect as the boxes **/

.info-circle {
    display: inherit;
    flex-direction: column;
    position: relative;
    width: 25%;
    height: 15%;
    background-color: #040404;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    transition-duration:0.5s;
    
}

.cir-expand {
    width: 90%;
    height: 90%;
}

.cir-shrink {
    width: 10%;
    height: 10%;
}

/** Text manipulation inside of circles **/

/** Div surrounding titles for positioning **/
.info-title {
    display: inherit;
    position: relative;
    margin-bottom: 0;
    -webkit-transition-duration:0.5;
    -moz-transition-duration:0.5;
    transition-duration:0.5s;
}

/** Text Sizing for Titles **/
.title-size {
    font-size: 90%;
}

/** Animations for text movement **/
.title-move {
    margin-bottom: 80%;
    font-size: 2rem;
}

/** Descriptions inside circles **/
.info-content { 
    opacity: 0;
    display: none;
    position: absolute;
    top: 25%;
    text-align: left;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 150%;
    height: 0;
}

.skills-headers {
    font-size: 1.4rem;
    text-decoration: underline;
}

#misc-fix {
    height: initial;
}

table {
    width: 90%;
    height: 50%;
    margin: auto;
}
th {
    text-align: center;
}

.display-content {
    display: flex;
	animation-name: fadeInOpacity;
    animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

.nt-lists {
    font-size: 1.3rem;
    list-style-type: square;
    list-style-position: inside;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
        transform: scale(0,0);
	}
    95% {
        opacity: 0.2;
    }
	100% {
		opacity: 1;
        transform: scale(1,1);
	}
}

.trix-click {
    position: absolute;
    bottom: 0;
    left: 2vw;
    height: 80px;
    width: 80px;
}

.click-me {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    bottom: 15%;
}

.click-animate {
    animation-name: hidden;
    animation-iteration-count: 1;
    animation-duration: 20s;
}

@keyframes hidden {
    0% {
        opacity: 0;
        z-index: -1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#trixie-pic {
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    bottom: 0;
}

.trixie-animate {
    animation-name: rollOut;
    animation-iteration-count: 1;
    animation-duration: 20s;
}

@keyframes rollOut {
    0% {
        left: 0;
        transform: rotate(0);
    }
    50% {
        left: 87.5vw;
        transform: rotate(1080deg);
    }
    to {
        left: 0;
        transform: rotate(0);
    }
}

@media screen and (max-width: 1280px){
    
    li {
        padding-bottom: 10px;
    }

    .welcome {
        display: flex;
        position: relative;
        font-size: 1rem;
        bottom: 10%;
        left: 37%;
        width: fit-content;
    }

    .skills-headers {
        font-size: 1.2rem;
    }
    
    .nt-lists {
        font-size: 0.9rem;
    }

    .info-content {
        font-size: 0.8rem;
        line-height: 125%;
    }

    table {
        width: 80%;
        height: 40%;
    }
}

@media screen and (max-width: 540px) {
    
    .info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-box {
        width: 90%;
        float: none;
    }

    .title-move {
        margin-bottom: 95%;
        font-size: 2rem;
    }

    .trixie-animate {
        animation-duration: 10s;
    }
    
    @keyframes rollOut {
        0% {
            left: 0;
            transform: rotate(0);
        }
        50% {
            left: 76vw;
            transform: rotate(720deg);
        }
        to {
            left: 0;
            transform: rotate(0);
            z-index: -1;
        }
    }
}